* { margin:0; padding:0; box-sizing:border-box; }
body {
	color: #FFFF00;
	font-family: Questrial, helvetica;
	background-color: white; text-align: center;
}
h1 {
	color: ##FFFF00;
	font-family: Bangers, Impact;
	font-size: 700%;
	letter-spacing: 8px;
}
h2 {
	color: black;
	font-family: Rock Salt, cursive;
}
h3 {
	color: black;
	font-family: Bangers, Impact;
	font-size: 300%
}
nav a {
display: inline-block;
}

nav {
	background-color: black;
	font-size: 200%;
	margin: 20px auto;
	padding: 40px;
	float: none;
	line-height: 0.5%;
}
a:link {
	margin: 20px;
	text-decoration: none;
	font-family: Bangers, helvetica;
	color: white;
	display: inline-block;
	width: 100px;
}
a:hover {
	color: red;
}
<<<<<<< Updated upstream
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
=======

footer {
color: white;
background-color: black;
font-family: Bangers, Impact;
	font-size: 200%;
	float: none;
}
>>>>>>> Stashed changes
