body {
	background-color: #66ff33; text-align: center;
}
h1 {
	color: white;
	font-family: Bangers, Impact;
	font-size: 72px;
}
h2 {
	color: black;
	font-family: Rock Salt, cursive;
}
h3 {
	color: black;
	font-family: Bangers, Impact;
}