body {
	color: green;
	font-family: helvetica; 
	text-align: center;
}
h1 {
font-family: Anton, helvetica;
font-size: 700%;
background-color: #7fdbff;
}
h2 {
color: black;
font-family: Lora, helvetica;
}
nav {
	background-color: #dab547;
	font-size: 300%;
	width: 400px;
	margin: 20px auto;
	padding: 40px;
}

a:link {
	margin: 20px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: luckiest guy, helvetica;
	color: white;
}
p {
	font-size: 175%;
	font-family: Lora, helvetica;
	font-style: italic;
	color: black;
}