body {
	color: green;
	font-family: helvetica; 
	text-align: center;
}
h1 {
font-family: Anton, helvetica;
font-size: 500%;
background-color: #7fdbff;
}
h2 {
color: black;
font-family: Lora, helvetica;
}
nav {
	color: white
	background-color: #dab547;
	text-align: right;
}